<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>好きな音楽を手元に。</h1>
        <a href="" class="btn btn-primary btn-lg">Physicalistを始める</a>
      </div>
    </div>
  </div>
<% end %>