<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
    <div class="item">
      <div class="panel-default">
        <div class="panel-heading panel-item text-center">
          <img src="<%= @item.jacket_url %>" alt="">
        </div>
        <div class="panel-body text-center">
          <p><%= @item.title %></p>
          <p><%= @item.artist %></p>
        </div>
      </div>
    </div>
  </div>
</div>