@charset "utf-8";

/* body */
body {
  background: #f2f2f2;
}
footer {
  margin-top: 40px;
}
/* cover */
.cover {
  margin-bottom: 20px;
  width: 100%;
  height: 450px;
  background: url("/images/physicalist sample1.jpeg");
  background-size: cover;
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  color: white;
  font-weight: bold;
  letter-spacing: 0.15em;
}

/* navbar */
.navbar-search {
  margin-top: 9px;
}
.navbar {
  margin-bottom: 0px;
}
.search-bar {
  height: 52px;
}
.input-group {
  width: 70%;
  margin-top: 10px;
  margin-left: 280px;
}
.row {
  margin-top: 0px;
}

/* item */
.item .panel-heading {
  height: 270px;
  background-color: #f2f2f2;  
}
.item .panel-heading img {
  height: 180px;
  width: 180px;
}
.panel-heading {
  
}
p.item-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin-bottom: 0px;
}
.item-row {
  margin-top: 20px;
}
form {
  display: inline;
}

.img {
  transition: 0.3s;
}
.img:hover {
  opacity: 0.5;
}

.panel-heading.panel-item img {
  width: 250px;
  height: 250px;
}
.panel-body p {
  font-weight: bold;
  font-size: 15px;
}